

.mainIcon {
	width: 150px;
	height: 150px;
}

.main-header-wrapper {
	margin: auto;
	background-color: #FF5151;
	transition: 1s;
}


h1 {
	float: right;
	margin-right: 40%;

}


.key-features {
	margin-left: 20%;
	margin-top: 50px;
}

.key-features li {
	margin-bottom: 30px;
}

.app-images {
	box-shadow: 10px 10px 5px #888888;
	margin: auto;
	width: 950px;
}

.app-images img {
	margin-right: 10px;
	padding: 20px;
	background-color: rgba(255, 196, 196, 0.23);
}

.screenshots {
	width: 264px;
	height: 435px;
}




footer {
	border-top: 1px solid rgb(204, 204, 204);
	margin-top: 40px;
}

.footer-content {
	margin: auto;
	text-align: center;
}

.is-sticky .main-header-wrapper {
	background-color: #FD9494;
}


@media (max-width: 982px) {
	.app-images {
		width: 632px;
	}
}

@media (max-width: 800px) {
	h1 {
		margin-right: 30%;
	}
}

@media (max-width: 620px) {
	h1 {
		margin-right: 6%;
		font-size: 23px;
		margin-top: 60px;
	}

	.app-images {
		width: 222px;
	}

	.screenshots {
		width: 182px;
		height: 300px;
	}
}